/* 
APP ----------------------------------------------------------------------------------------------------------------------------------------------
*/

body {
  font-family: 'Montserrat';
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcvEr6Hm6RMS0v1dtXsGir4g.ttf) format('truetype');
}

/*
PAGES ----------------------------------------------------------------------------------------------------------------------------------------------
*/

/* Home Page ------------------------------- */

.rant-container {
  margin: 80px auto 0 auto;
}

.main-content {
  margin-top: 80px;
}

.search-bar {
  display: flex;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.25);
}

.footer {
  height: 40px;
  background-color: #CCCCCC;
  margin-top: 50px;
}

.footer p {
  font-size: 14pt;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(to right, #F012BE 40%, #39CCCC 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer p b {
  font-size: 14pt;
}

@media screen and (max-width: 300px) {
  .footer p, .footer p b {
    font-size: 10pt;
  }
}

/* Landing Page ------------------------------- */

.background-image {
  background-image: url("./assets/images/LandingArt.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  filter: blur(15px);
  height: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-content {
  margin: 0 auto;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-logo {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.landing-button {
  margin: 0 auto;
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .landing-content {
    width: 80%;
  }
}

/* Sign Up Page ------------------------------- */

.signup-content {
  width: 40%;
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-form-content {
  width: 60%;
  margin: 0 auto;
  display: block;
  padding: 30px;
}

.signup-logo {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.signup-button-wrapper {
  display: block;
  margin: 0 auto;
  background-color: #F012BE;
  margin-top: 40px;
}

.terms {
  text-align: center;
  margin-top: 30px;
}

.terms:hover, .signup-back:hover, .terms-text:hover, .footer:hover, .search-back-button:hover {
  cursor: pointer;
}

.signup-back {
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;
}

.search-back {
  display: flex;
}

.search-back-button {
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;
}

.terms-text {
  color: #39CCCC;
}

@media screen and (max-width: 600px) {
  .signup-content {
    width: 80%;
  }
  .search-back {
    display: block;
  }
  .search-back-button {
    display: inline-block;
    margin: 0 auto;
    width: auto;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%)
  }
}

/* Log In Page ------------------------------- */

.login-error-text {
  color: red;
  text-align: center;
  font-family: 'Roboto';
  margin-bottom: -20px;
}

.sign-up-text {
  text-align: center;
  font-size: 12px;
  margin-bottom: -20px;
  margin-top: 30px;
}

/* Profile Page ------------------------------- */

.profile-card {
  margin: 0 auto;
  border: solid 3px transparent;
  background-image: linear-gradient(white, white), linear-gradient(to right, #F012BE, #39CCCC);
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
}

.profile-card-content {
  padding: 20px;
  text-align: center;
}

.profile-handle {
  color: #39CCCC;
  margin-top: -20px;
  margin-bottom: 30px;
}

.profile-card-image-container {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  margin: 0 auto;
}

.profile-card-image {
  display: block;
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 20px;
  border: solid 5px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #F012BE, #39CCCC);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.profile-card-image:hover {
  opacity: 0.5;
}

.profile-card-image-display {
  display: block;
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 20px;
  border: solid 5px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #F012BE, #39CCCC);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.profile-card-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 260px;
  width: 260px;
  border-radius: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: rgba(255, 255, 255, 0.5);
}

.profile-card-image-container:hover .profile-card-image-overlay {
  opacity: 1;
}

.loading-profile {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.edit-profile-button {
  width: 200px;
  background-color: #F012BE;
  margin: 0 auto;
}

.logout-button {
  width: 200px;
  background-color: red;
  margin: 0 auto;
  margin-top: 10px;
  transition: 0.3s;
  margin-bottom: 30px;
}

.upload-profile-picture {
  color: transparent;
}

.upload-profile-picture::-webkit-file-upload-button {
  visibility: hidden;
}

.upload-profile-picture::before {
  content: 'Select Image';
  color: white;
  display: inline-block;
  background: #F012BE;
  padding: 6px 10px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}

.upload-profile-picture:active {
  outline-style: none;
}

.upload-profile-picture:active::before {
  background: #F012BE;
}

.select-image-button {
  background-color: #39CCCC;
}

.profile-settings {
  float: right;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 300px) {
  .edit-profile-button, .logout-button {
    width: 150px;
  }
  .main-home-content h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  .profile-card-image, .profile-card-image-display, .profile-card-image-container {
    height: 175px;
    width: 175px;
  }
  .profile-card-image-overlay {
    height: 185px;
    width: 185px;
  }
  .profile-card-content h1 {
    font-size: 20pt;
  }
  .profile-handle {
    font-size: 14pt;
  }
  .profile-card-content p {
    font-size: 11pt;
  }
  .profile-card-content h3 {
    font-size: 12pt;
  }
}

/* Manipulate Rant Page ------------------------------- */

.manipulate-submit-section {
  margin-top: 20px;
  display: block;
}

.manipulate-anonymous {
  display: block;
  margin: 0 auto;
}

.manipulate-anonymous span {
  display: block;
  margin: 0 auto;
  justify-content: center;
}

.manipulate-anonymous-switch {
  margin-top: -15px;
  display: flex;
  justify-content: center;
}

.manipulate-submit-section {
  display: flex;
  justify-content: center;
}

/* Feed Page*/

.loading-rants {
  display: flex;
  margin: auto;
  margin-top: 20px;
  width: 80%;
}

/*
COMPONENTS ----------------------------------------------------------------------------------------------------------------------------------------------
*/

/* Rant Component ------------------------------- */

.rant-body {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 20px;
  display: block;
  box-shadow: 0px 0px 5px 0px #3F3F3F;
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}

.rant-body:hover {
  box-shadow: 0px 0px 5px 3px #3F3F3F;
}

.rant-title {
  background-color: #F012BE;
  display: inline-flex;
  width: 100%;
  position: relative;
}

.rant-title-text {
  float: left;
  padding-left: 20px;
  margin-top: -10px;
  color: white;
  min-height: 65px;
  margin-bottom: -10px;
  margin-right: 35px;
}

.rant-title-text h1 {
  font-weight: bold;
}

.more-icon {
  float: right;
  position: absolute;
  right: 0px;
  top: 5px;
}

.clear {
  clear: both;
}

.rant-credits {
  width: auto;
  margin: 0 auto;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  height: 110px;
  position: relative;
}

.rant-credits-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
  float: left;
  border: solid 5px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #F012BE, #39CCCC);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.rant-credits-info {
  float: left;
  margin-left: 20px;
  font-style: normal;
}

.user-handle-hover {
  margin-top: -20px;
  color: #39CCCC;
  transition: .2s ease;
  cursor: pointer;
}

.user-handle-hover:hover {
  color: #F012BE;
}

.rant-credits-info p {
  margin-top: -11px;
}

.rant-credits-date {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  margin-top: 5px;
}

.rant-credits-date p {
  margin-top: -10px;
}

.rant-content {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.rant-content p {
  overflow-wrap: break-word;
}

.rant-info {
  margin-top: 0px;
  display: inline-block;
  width: 100%;
}

.rant-info span {
  width: 20px;
  margin-right: 30px;
  margin-left: 5px;
  font-weight: 600;
}

.rant-like-icon {
  margin-right: -40px;
}

.main-home-content {
  display: block;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.user-rant-date {
  float: right;
}

@media screen and (max-width: 600px) {
  .rant-credits-img img {
    width: 100px;
    height: 100px;
    border: solid 3px transparent;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    float: none;
  }
  .rant-content-body {
    width: 100%;
  }
  .rant-credits-info {
    width: 100%;
    margin: 0 auto;
    margin-top: -20px;
    text-align: center;
  }
  .rant-credits {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    display: block;
  }
  .rant-credits-main {
    display: block;
  }
  .rant-credits-date {
    width: 100%;
    text-align: center;
    float: left;
    position: relative;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .rant-title-text {
    padding-left: 10px;
  }
  .more-icon {
    right: -5px;
  }
}

/* Header Component ------------------------------- */

.header-content {
  width: 80%;
  margin: 0 auto;
  max-width: 1150px;
  position: relative;
}

.header-logo {
  height: 50px;
  float: left;
  margin-left: -20px;
}

.content-right {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  margin-bottom: -7px;
  margin-right: -20px;
}

.spacer {
  padding-left: 5px;
}

.header-img {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 70px;
  float: left;
  border: solid 3px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #F012BE, #39CCCC);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 600px) {
  .header-logo {
    margin-left: -10px;
    margin-top: 10px;
    height: 40px;
  }
  .spacer img {
    margin-top: 40px;
    width: 45px;
    height: 45px;
  }
  .mobile-menu {
    display: flex;
    float: right;
    margin-top: 0px;
    margin-right: -30px;
  }
  .content-right {
    display: none;
  }
}

/* Comment Component ------------------------------- */

.comment-section {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.add-comments {
  display: flex;
  width: 100%;
}

.display-comments {
  display: block;
  margin-top: 40px;
  width: 100%;
}

.comment {
  display: flex;
  margin-top: 10px;
}

.comment-content {
  display: block;
  width: 100%;
}

.comment-credits {
  display: inline;
}

.comment-credit-text {
  float: left;
  padding-left: 10px;
  margin-top: -7px;
  margin-bottom: -20px;
}

.comment-credit-text h4 {
  color: #39CCCC;
  margin-top: -20px;
}

.commented-at {
  float: right;
  margin-top: 15px;
}

.comment-body {
  padding-left: 10px;
  margin-bottom: 20px;
}

.comment-body-content {
  margin-right: 50px;
  margin-bottom: -16px;
}

.comment-body-content p {
  overflow-wrap: break-word;
}

.delete-comment {
  margin-top: -15px;
  display: flex;
  float: right;
  width: 50px;
  height: 50px;
}

.comment-button {
  position: relative;
  width: 90px;
}

@media screen and (max-width: 600px) {
  .comment-content {
    display: block;
  }
  .comment-credit-text {
    display: block;
    width: 100%;
    float: left;
  }
  .commented-at {
    float: left;
    padding-left: 10px;
    margin-top: 5px;
  }
  .comment-body-content p {
    width: 85%;
    word-wrap: break-all;
    overflow-wrap: anywhere;
  }
  .delete-comment {
    position: relative;
    right: 0;
    float: right;
  }
  .comment-button {
    width: 120px;
  }
}

/* Notification Component ------------------------------- */

.notification-main {
  display: block;
  max-width: 500px;
}

.notification-data {
  display: flex;
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
  margin-left: 20px;
  margin-top: 17px;
}

.notification-handle {
  font-weight: 600;
  padding-left: 10px;
  color: #39CCCC;
  transition: .2s ease;
}

.notification-handle:hover {
  color: #F012BE;
}

/* Search User */

.search-user-element {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  transition: .3s ease;
}

.search-user-element:hover {
  background-color: #CCCCCC;
  cursor: pointer;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}