.rant-container {
    margin: 80px auto 0 auto;
}

.search-bar {
    margin: 80px auto 0 auto;
    height: 50px;
    background-color: grey;
    width: 80%;
}

.footer {
    height: 30px;
    background-color: grey;
    margin-top: 50px;
}

.footer p {
    text-align: center;
    padding-top: 5px;
    color: white;
}